<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Kino portal">
    <meta name="keyword" content="film,онлайн, фильмы">

    {% block header %}
        <link rel="stylesheet" href="{% static 'main/main.css' %}">
    {% endblock %}

    {% block title %}
    <title>КиноМонстр</title>
    {% endblock %}
</head>

<body>
    <div class="content">
        <div class="header">
            <div class="logo">
                <div class="logo_text">
                    <h1><a href="{% url 'index' %}">КиноМонстр</a></h1>
                    <h2>Кино - наша страсть!</h2>
                </div>
            </div>
            <div class="menu_header">

                {% block selected %}
                <ul class="menu">
                    <li class="selected"><a href="{% url 'index' %}">Главная</a></li>
                    <li><a href="{% url 'films' %}">Фильмы</a></li>
                    <li><a href="{% url 'serials' %}">Сериалы</a></li>
                    <li><a href="{% url 'rating' %}">Рейтинг</a></li>
                    <li><a href="{% url 'contacts' %}">Контакты</a></li>
                    <li><a href="{%url 'info' %}">О сайте</a></li>
                </ul>
                {% endblock %}

            </div>
        </div>
        <div class="site_content">
            <div class="sidebar_container">
                <div class="sidebar">
                    <h2>Поиск</h2>
                    <form method="post" action="{% url 'index' %}" id="search_form">
                        <a href="{% url 'search' %}">Поисковая строка</a>
                    </form>
                </div>
                {% block login %}
                <div class="sidebar">
                    {% if user.is_authenticated %}
                    <h2>Профиль</h2>
                    <p><a href="{% url 'profile' %}">{{ user.username }}</a></p>
                    <span><a href="{% url 'profile_change' %}">Изменить?</a></span> |
                    <span><a href="{% url 'logout' %}?next=/">Выйти?</a></span>
                    {% else %}
                    <div>
                        <h2>Вход</h2>
                        <form action="." method="post">
                        {{form.as_p}}
                        {% csrf_token %}
                        <input type="submit" class="btn" value="Войти">
                        </form>
                        <br>
                        <span><a href="{% url 'register' %}">Зарегистрироваться?</a></span>
                    </div>
                    {% endif %}
                </div>
                {%endblock%}

                <div class="sidebar">
                    <h2>Новости</h2>
                    <span>20.08.2020</span>
                    <p>Мы запустили новый сайт</p>
                    <a href="#">Читать</a>
                </div>
                <div class="sidebar">
                    <h2>Рейтинг фильмов</h2>
                    <ul>
                        <li><a href="#">Интерстеллар</a><span class="rating_sidebar">8.1</span></li>
                        <li><a href="#">Крёстный отец</a><span class="rating_sidebar">9.2</span></li>
                        <li><a href="#">Бойцовский клуб</a><span class="rating_sidebar">8.7</span></li>
                        <li><a href="#">Омерзительная 8</a><span class="rating_sidebar">8.4</span></li>
                    </ul>
                </div>
            </div>

            <div class="content_center">

                {% block content %}
                <h1>Новые фильмы</h1>
                <div class="films_block">
                    {% for film in films %}
                    <a href="{% url 'film_content' film.title %}"><img src="/static/{{film.image}}"></a>
                    {% endfor %}
                </div>

                <h1>Сериалы</h1>
                <div class="films_block">
                    {% for serial in serials %}
                    <a href="{% url 'serial_content' serial.title %}"><img src="/static/{{serial.image}}"></a>
                    {% endfor %}
                </div>
                <div class="posts">
                    <hr>
                    <h2><a href="#">Как создавали Интерстеллар</a></h2>
                    <div class="post_content">
                        <p>Фильм был задуман продюсером Линдой Обст и физиком-теоретиком Кипом Торном после сотрудничества Кипа при производстве фильма «Контакт» 1997 года. Обст и Торн были хорошо знакомы с тех пор, как астроном Карл Саган уговорил их на свидание вслепую. На основе работы Торна был задуман сценарий о том, что «самые экзотические события во Вселенной стали доступными для человечества», который привлёк интерес режиссёра Стивена Спилберга. Работа над фильмом началась в июне 2006 года, когда Paramount Pictures и Стивен Спилберг анонсировали планы по созданию научно-фантастического фильма, основанного на исследованиях Кипа Торна. Линда Обст стала продюсером фильма. В марте 2007 года Джонатан Нолан был нанят в качестве сценариста. </p>
                    </div>
                    <p><a href="#">Читать</a></p>
                </div>

                <div class="posts">
                    <hr>
                    <h2><a href="#">Сюжет Безумный Макс</a></h2>
                    <div class="post_content">
                        <p>В основе сюжета лежит история офицера Основного силового патруля (Main Force Patrol) Макса Рокатански. Фильм открывает большая погоня представителей MFP за бандитом-байкером по кличке Ночной Ездок, сбежавшим из-под стражи на угнанном «Перехватчике». «Перехватчики» — самые мощные машины патруля, они оснащаются восьмицилиндровыми двигателями и обладают высочайшими скоростными характеристиками. Оторвавшись от экипажей «Большого Боппера», «Мартовского зайца» и патрульного на мотоцикле по прозвищу «Гусь», Ездок остается один на один против Макса. </p>
                    </div>
                    <p><a href="#">Читать</a></p>
                </div>
                {% endblock %}

            </div>
        </div>
        <div class="footer">
            <p>
                <a href="{% url 'index' %}">Главная</a> |
                <a href="{% url 'films' %}">Фильмы</a> |
                <a href="{% url 'serials' %}">Сериалы</a> |
                <a href="{% url 'rating' %}">Рейтинг</a> |
                <a href="{% url 'contacts' %}">Контакты</a>
            </p>
            <p>Created by peshkooff00</p>
        </div>
    </div>
</body>
</html>