{% extends 'layout/basic.html' %}
{% load static %}
{% load bootstrap4 %}

{% block header %}
<link rel="stylesheet" href="{% static 'main/main.css' %}">
{% endblock %}

{% block selected %}
<ul class="menu">
    <li><a href="{% url 'index' %}">Главная</a></li>
    <li><a href="{% url 'films' %}">Фильмы</a></li>
    <li><a href="{% url 'serials' %}">Сериалы</a></li>
    <li><a href="{% url 'rating' %}">Рейтинг</a></li>
    <li><a href="{% url 'contacts' %}">Контакты</a></li>
    <li><a href="{%url 'info' %}">О сайте</a></li>
</ul>
{% endblock %}


{% block content %}
<h2>Правка личных данных пользователя {{ user.username }}</h2>
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons submit='Сохранить' %} {% endbuttons %}
</form>
{% endblock %}
