{% extends 'layout/basic.html' %}
{% load static %}

{% block header %}

<link rel="stylesheet" href="{% static 'main/main.css' %}">

{% endblock %}


{% block selected %}
<ul class="menu">
    <li><a href="{% url 'index' %}">Главная</a></li>
    <li><a href="{% url 'films' %}">Фильмы</a></li>
    <li><a href="{% url 'serials' %}">Сериалы</a></li>
    <li><a href="#">Рейтинг</a></li>
    <li><a href="#">Контакты</a></li>
    <li class="selected"><a href="{%url 'info' %}">О сайте</a></li>
</ul>
{% endblock %}

{% block content %}

<h2>Сайт создавался для личного портфолио</h2>

<p>Directed by peshkooff00</p>
{% endblock %}