{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}
<title>Профиль</title>
{% endblock %}

{% block selected %}
<ul class="menu">
    <li><a href="{% url 'index' %}">Главная</a></li>
    <li><a href="{% url 'films' %}">Фильмы</a></li>
    <li><a href="{% url 'serials' %}">Сериалы</a></li>
    <li><a href="{% url 'rating' %}">Рейтинг</a></li>
    <li><a href="{% url 'contacts' %}">Контакты</a></li>
    <li><a href="{%url 'info' %}">О сайте</a></li>
</ul>
{% endblock %}


{% block content %}
<h2>Профиль пользоветля {{user.username}}</h2>
{% if user.first_name and user.last_name %}
<p>Здравствуйте, {{user.first_name}} {{user.last_name}}</p>
{% else %}
<p>Здравствуйте!</p>
{% endif %}
<h3>Ваши любимые фильмы</h3>
{% endblock %}